.HomePage {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

.prayertimescard {
  opacity: 80%;
  margin-top: 5rem;
  display: flex;
}

.CardContent {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.CardBody {
  align-items: center;
}

.CardHeader {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.PrayerTime {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
  margin-left: 20px;
  flex-direction: column;
}

.hadith {
  text-align: center;
}

.PrayerTime p {
  font-size: 35px;
}

.hadithTitle {
  font-size: 23px;
}

.location {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}